<nav class='footer navbar navbar-default'>
  <div class='container'>
    <div class='navbar-header'>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <div class='hidden-xs'>
          <%= render 'layouts/shared/logo', id: 'fractalsoft-logo-footer' %>
        </div>
        <%= image_tag 'home/logo_big_white.png', class: 'visible-xs' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class='collapse navbar-collapse'>
      <%= image_tag 'home/footer.png', class: 'pull-right' %>
      <ul class='nav navbar-nav navbar-right'>
        <li><%#= link_to t('.projects'), projects_path %></li>
        <li><%= link_to t('.team'), people_path %></li>
        <li><%= link_to t('.contact'), new_contact_form_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
