<nav class='header navbar navbar-default' role='navigation'>
  <div class='container'>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'home/logo.png', class: 'visible-xs' %>
        <%= image_tag 'home/logo_big.png', class: 'hidden-xs' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to t('.projects'), projects_path %></li>
        <li><%= link_to t('.team'), people_path %></li>
        <!-- <li><a href='#'>Offset</a></li> -->
        <li><%= link_to t('.contact'), new_contact_form_path %></li>
        <!-- <li><a href='#'>Sites</a></li> -->

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
