<nav class='header navbar navbar-default' role='navigation'>
  <div class='container'>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#fractalsoft-navbar-collapse' aria-expanded='false'>
        <span class='sr-only'><%= t('.toggle_navigation') %></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'home/logo.png', class: 'visible-xs' %>
        <%= image_tag 'home/logo_big.png', class: 'hidden-xs' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class='collapse navbar-collapse' id='fractalsoft-navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li><%#= link_to t('.projects'), projects_path %></li>
        <li><%#= link_to t('.team'), people_path %></li>
        <li><%= link_to t('.contact'), new_contact_form_path, data: { no_turbolink: 'true' } %></li>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'
            role='button' aria-haspopup='true' aria-expanded='false'>
              <%= t('.language') %>
              <span class='caret'></span>
          </a>
          <%= render 'layouts/shared/languages' %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
