<div class='col-md-3 col-sm-6 col-xs-12'>
  <%= link_to person_path(id: person) do %>
    <div class='thumbnail'>
      <%= person.image %>
      <h3><%= person.fullname %></h3>
      <p class='text-center'><%= person.introduction %></p>
      <ul class='social list-inline'>
        <%= person.github %>
        <%= person.blog %>
        <%= person.twitter %>
        <%= person.facebook %>
      </ul>
    </div>
  <% end %>
</div>
