<% content_for :body_class, 'team' %>

<div class='container team'>
  <h2>Meet our team!</h2>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1'>
      <% @people.each_with_index do |person, index| %>
        <% if index % 2 == 0 %>
          <div class='media'>
            <a class='media-left' href='#'>
              <%= image_tag person.image_url %>
            </a>
            <div class='media-body'>
              <h4 class='media-heading'>
                <%= person.fullname %> - <span><%= person.position %></span>
              </h4>
              <%= person.description %>
              <div class='media-footer'>
                <span class='website pull-left'>
                  <%= raw person.website %>
                </span>
                <ul class='list-inline pull-right'>
                  <%= person.facebook %>
                  <%= person.twitter %>
                  <%= person.github %>
                  <%= person.email %>
                </ul>
              </div>
            </div>
          </div>
        <% else %>
          <div class='media'>
            <div class='media-body media-text-right'>
              <h4 class='media-heading'>
                <%= person.fullname %> - <span><%= person.position %></span>
              </h4>
              <%= person.description %>
              <div class='media-footer'>
                <span class='website pull-right'>
                  <%= person.website %>
                </span>
                <ul class='list-inline pull-left'>
                  <%= person.facebook %>
                  <%= person.twitter %>
                  <%= person.github %>
                  <%= person.email %>
                </ul>
              </div>
            </div>
            <a class='media-right' href='#'>
              <%= image_tag person.image_url %>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
