<% content_for :body_class, 'person' %>

<div class='background container-fluid'></div>
<div class='business-card container'>
  <div class='row'>
    <div class='col-md-3 col-sm-6 col-xs-12'>
      <div class='thumbnail'>
        <%= @person.image %>
      </div>
    </div>
    <div class='col-md-6 col-sm-6 col-xs-12'>
      <h1><%= @person.fullname %></h1>
      <p class='position'><strong><%= @person.position %></strong></p>
      <p class='text-justify'><%= @person.introduction %></p>
      <%= @person.saying %>
      <%= @person.skills %>
    </div>
    <div class='col-md-3 col-sm-6 col-xs-12'>
      <ul class='social list-inline'>
        <%= @person.blog %>
        <%= @person.github %>
        <%= @person.twitter %>
        <%= @person.linkedin %>
        <%#= @person.facebook %>
        <%= @person.instagram %>
      </ul>
      <%= @person.technologies %>
    </div>
  </div>
  <hr>
  <% @person.projects.each do |project| %>
    <%= render 'project', project: project, contributions: @person.project_with_contributions(project) %>
  <% end %>
</div>
