<% content_for :body_class, 'home' %>

<div class='container-fluid'>
  <div class='jumbotron'>
    <div class='container'>
      <div id='carousel-main' class='carousel slide' data-ride='carousel'>
        <!-- Indicators -->
        <ol class='carousel-indicators'>
          <li data-target='#carousel-main' data-slide-to='0' class='active'></li>
          <li data-target='#carousel-main' data-slide-to='1'></li>
          <li data-target='#carousel-main' data-slide-to='2'></li>
          <li data-target='#carousel-main' data-slide-to='3'></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
          <div class='item active'>
            <div class='carousel-caption'>
              <h3>Ala ma kota</h3>
              <p>
                Potwierdzone przez NASA
                <br>
                <a href='#' title='show more' class='btn btn-info'>Show more</a>
              </p>
            </div>
          </div>
          <div class='item'>
            <div class='carousel-caption'>
              <h3>Ala ma kota</h3>
              <p>
                Potwierdzone przez NASA
                <br>
                <a href='#' title='show more' class='btn btn-info'>Show more</a>
              </p>
            </div>
          </div>
          <div class='item'>
            <div class='carousel-caption'>
              <h3>Ala ma kota</h3>
              <p>
                Potwierdzone przez NASA
                <br>
                <a href='#' title='show more' class='btn btn-info'>Show more</a>
              </p>
            </div>
          </div>
          <div class='item'>
            <div class='carousel-caption'>
              <h3>Ala ma kota</h3>
              <p>
                Potwierdzone przez NASA
                <br>
                <a href='#' title='show more' class='btn btn-info'>Show more</a>
              </p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class='left carousel-control' href='#carousel-main' role='button' data-slide='prev'>
          <span class='glyphicon glyphicon-chevron-left'></span>
        </a>
        <a class='right carousel-control' href='#carousel-main' role='button' data-slide='next'>
          <span class='glyphicon glyphicon-chevron-right'></span>
        </a>
      </div>
    </div>
  </div>

  <div class='container description'>
    <h1>We are red, we are fractal soft</h1>
    <div class='row'>
      <div class='col-sm-4'>
        <div class='thumb'>
          <%= image_tag 'home/cup_of_art.png' %>
        </div>
        <h4>Na początku design</h4>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class='col-sm-4'>
        <div class='thumb'>
          <%= image_tag 'home/code_pen.png' %>
        </div>
        <h4>Wdrażanie kodu do projektu</h4>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class='col-sm-4'>
        <div class='thumb screen'>
          <%= image_tag 'home/display_view.png' %>
        </div>
        <h4>Optymalizacja</h4>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>

  <div class='row images'>
    <div class='col-xs-3'>
      <a href='#' class='thumbnail'>
        <%= image_tag 'home/test.jpg' %>
      </a>
    </div>
     <div class='col-xs-3'>
      <a href='#' class='thumbnail'>
        <%= image_tag 'home/test.jpg' %>
      </a>
    </div>
     <div class='col-xs-3'>
      <a href='#' class='thumbnail'>
        <%= image_tag 'home/test.jpg' %>
      </a>
    </div>
     <div class='col-xs-3'>
      <a href='#' class='thumbnail'>
        <%= image_tag 'home/test.jpg' %>
      </a>
    </div>
  </div>

  <div class='container technology'>
    <a href='#' title='see more' class='btn btn-default'>Show more</a>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1'>
        <ul class='media-list'>
          <li class='media'>
            <a class='pull-left' href='#'>
              <%= image_tag 'home/html5.png', class: 'media-object' %>
            </a>
            <div class='media-body text-left'>
              <h4 class='media-heading'>HTML 5</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
          </li>
          <li class='media'>
            <a class='pull-right' href='#'>
              <%= image_tag 'home/rails.png', class: 'media-object' %>
            </a>
            <div class='media-body text-right'>
              <h4 class='media-heading'>Ruby on Rails</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
          </li>
          <li class='media'>
            <a class='pull-left' href='#'>
              <%= image_tag 'home/open_source.png', class: 'media-object' %>
            </a>
            <div class='media-body text-left'>
              <h4 class='media-heading'>Open Source</h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class='container team'>
    <h2>Meet our team!</h2>
    <div class='row'>
      <div class='col-sm-4'>
        <a href='#' class='thumbnail'>
          <%= image_tag 'home/test.jpg' %>
          <h3>Imie Nazwisko</h3>
        </a>
      </div>
      <div class='col-sm-4'>
        <a href='#' class='thumbnail'>
          <%= image_tag 'home/test.jpg' %>
          <h3>Imie Nazwisko</h3>
        </a>
      </div>
      <div class='col-sm-4'>
        <a href='#' class='thumbnail'>
          <%= image_tag 'home/test.jpg' %>
          <h3>Imie Nazwisko</h3>
        </a>
      </div>
    </div>
    <a href='#' title='see more' class='btn btn-primary'>Show more</a>
  </div>

  <div class='opinions'>
    <!-- <div class='cover'></div> -->
    <div id='carousel-opinion' class='carousel slide cover' data-ride='carousel'>
      <!-- Indicators -->
      <ol class='carousel-indicators'>
        <li data-target='#carousel-opinion' data-slide-to='0' class='active'></li>
        <li data-target='#carousel-opinion' data-slide-to='1'></li>
        <li data-target='#carousel-opinion' data-slide-to='2'></li>
        <li data-target='#carousel-opinion' data-slide-to='3'></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class='carousel-inner'>
        <div class='item active'>
          <div class='carousel-caption'>
            <%= image_tag 'home/test.jpg', class: 'img-circle' %>
            <div class='row'>
              <div class='col-sm-4 col-sm-offset-4'>
                <p><strong>"</strong>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<strong>"</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class='carousel-caption'>
            <%= image_tag 'home/test.jpg', class: 'img-circle' %>
            <div class='row'>
              <div class='col-sm-4 col-sm-offset-4'>
                <p><strong>"</strong>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<strong>"</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class='carousel-caption'>
            <%= image_tag 'home/test.jpg', class: 'img-circle' %>
            <div class='row'>
              <div class='col-sm-4 col-sm-offset-4'>
                <p><strong>"</strong>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<strong>"</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class='item'>
          <div class='carousel-caption'>
            <%= image_tag 'home/test.jpg', class: 'img-circle' %>
            <div class='row'>
              <div class='col-sm-4 col-sm-offset-4'>
                <p><strong>"</strong>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<strong>"</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class='left carousel-control' href='#carousel-opinion' role='button' data-slide='prev'>
        <span class='glyphicon glyphicon-chevron-left'></span>
      </a>
      <a class='right carousel-control' href='#carousel-opinion' role='button' data-slide='next'>
        <span class='glyphicon glyphicon-chevron-right'></span>
      </a>
    </div>
  </div>

  <div class='container contact'>
    <h2>Want to get in touch with us?</h2>
    <p>No matter if you have a question or just want to  say hello, we would love to hear from you.</p>
    <div class='row'>
      <div class='col-sm-4'>
        <div class='section address'>
          <h4>Contact with us</h4>
          <address>
            Fractal Soft <strong>Poland</strong><br>
            Akademicka 5<br>
            Gliwice 44-100
          </address>
          <address>
            Fractal Soft <strong>London</strong><br>
            Akademicka 5<br>
            Gliwice 44-100
          </address>
        </div>

        <div class='section'>
          <h4>Phone</h4>
          <address>
            +48 293 901 203<br>
            +48 293 901 203
          </address>
        </div>

        <div class='section'>
          <h4>Email address</h4>
          <address>
            <%= mail_to 'kontakt@fractalsoft.org' %>
          </address>
        </div>

        <div class='section'>
          <h4>You can also find us here</h4>
          <ul class='list-inline'>
            <li>
              <%= link_to 'https://www.facebook.com/fractalsoft' do %>
                <%= image_tag 'home/facebook_icon.png' %>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://twitter.com/fractal_soft' do %>
                <%= image_tag 'home/twitter_icon.png' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-sm-8'>
        <%= form_for 'contact', html: { id: 'contact_form', class: 'form-horizontal' } do |f| %>
        <div class='form-group'>
          <%= f.text_field :name, class: 'form-control', placeholder: 'your name' %>
        </div>
        <div class='form-group'>
          <%= f.text_field :email, class: 'form-control', placeholder: 'your email address' %>
        </div>
        <div class='form-group'>
          <%=  f.text_area :message, class: 'form-control', rows: 10, placeholder: 'what we can do for you?' %>
        </div>
        <div class='form-group'>
          <div class='row'>
            <div class='col-xs-5'>
              <%= f.submit 'send', class: 'btn btn-primary btn-block submit' %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
