<% content_for :body_class, 'home' %>

<div class='container-fluid'>
  <div class='jumbotron'>
    <div class='container'>
      <div id='carousel-main' class='carousel slide' data-ride='carousel'>
        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
          <div class='item active'>
            <div class='carousel-caption'>
              <h3 class='normal'><%= t('.header_html') %></h3>
              <p>
                <a href='#contact' title='show more' class='btn btn-info btn-lg'>
                  <%= t('.button.contact_us') %>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container description'>
    <h1><%= t('.how_we_work.slogan') %></h1>
    <div class='row'>
      <div class='col-sm-4'>
        <div class='thumb'>
          <%= image_tag 'home/cup_of_art.png' %>
        </div>
        <h4><%= t('.how_we_work.header.one') %></h4>
        <p><%= t('.how_we_work.description.one') %></p>
      </div>
      <div class='col-sm-4'>
        <div class='thumb pen'>
          <%= image_tag 'home/code_pen.png' %>
        </div>
        <h4><%= t('.how_we_work.header.two') %></h4>
        <p><%= t('.how_we_work.description.two') %></p>
      </div>
      <div class='col-sm-4'>
        <div class='thumb screen'>
          <%= image_tag 'home/display_view.png' %>
        </div>
        <h4><%= t('.how_we_work.header.three') %></h4>
        <p><%= t('.how_we_work.description.three') %></p>
      </div>
    </div>
  </div>

  <div class='container team'>
    <h2><%= t('.team.meet_us') %></h2>
    <div class='row'>
      <% @people.each do |person| %>
        <div class='col-sm-3'>
          <div class='thumbnail'>
            <%= image_tag person.image_url %>
            <h3><%= person.fullname %></h3>
            <p><strong><%= person.position %></strong></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='container technology hidden-xs'>
    <div class='row'>
      <div class='col-sm-10 col-sm-offset-1'>
        <ul class='media-list'>
          <li class='media'>
            <a class='pull-left' href='#'>
              <%= image_tag 'home/html5.png', class: 'media-object' %>
            </a>
            <div class='media-body text-left'>
              <h4 class='media-heading'><%= t('.technology.header.one') %></h4>
              <p><%= t('.technology.description.one') %></p>
            </div>
          </li>
          <li class='media'>
            <a class='pull-right' href='#'>
              <%= image_tag 'home/rails.png', class: 'media-object' %>
            </a>
            <div class='media-body text-right'>
              <h4 class='media-heading'><%= t('.technology.header.two') %></h4>
              <p><%= t('.technology.description.two') %></p>
            </div>
          </li>
          <li class='media'>
            <a class='pull-left' href='#'>
              <%= image_tag 'home/open_source.png', class: 'media-object' %>
            </a>
            <div class='media-body text-left'>
              <h4 class='media-heading'><%= t('.technology.header.three') %></h4>
              <p><%= t('.technology.description.three') %></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id='contact' class='container contact'>
    <h2><%= t('.contact.header') %></h2>
    <p class='hidden-xs'><%= t('.contact.description') %></p>
    <div class='row'>
      <div class='col-sm-8 col-sm-push-4 col-xs-12'>
        <%= render 'contact_forms/form', contact: @contact %>
      </div>
      <div class='col-sm-4 col-sm-pull-8 col-xs-12'>
        <%= render 'contact_forms/contact' %>
      </div>
    </div>
  </div>
</div>
