<% content_for :body_class, 'projects' %>

<div class='container projects'>
  <div class='row'>
    <div class='col-sm-6 col-md-4'>
      <div class='thumbnail'>
        <%= image_tag 'projects/hitdea.jpg' %>
        <div class='caption'>
          <h3>hitdea <small>| lorem ipsum</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
          <p><a href="#">See more</a></p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-4'>
      <div class='thumbnail'>
        <%= image_tag 'projects/ballerina.jpg' %>
        <div class='caption'>
          <h3>hitdea <small>| lorem ipsum</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
          <p><a href="#">See more</a></p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-4'>
      <div class='thumbnail'>
        <%= image_tag 'projects/fractalshop.jpg' %>
        <div class='caption'>
          <h3>hitdea <small>| lorem ipsum</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
          <p><a href="#">See more</a></p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-4'>
      <div class='thumbnail'>
        <%= image_tag 'projects/luk_tech.jpg' %>
        <div class='caption'>
          <h3>hitdea <small>| lorem ipsum</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
          <p><a href="#">See more</a></p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-4'>
      <div class='thumbnail'>
        <%= image_tag 'projects/metalowiec2.jpg' %>
        <div class='caption'>
          <h3>hitdea <small>| lorem ipsum</small></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
          <p><a href="#">See more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
