<% content_for :body_class, 'projects' %>

<div class='container projects'>
  <div class='row'>
    <% @projects.each do |project| %>
      <div class='col-sm-6 col-md-4'>
        <div class='thumbnail'>
          <%= image_tag project.thumbnail_url(:thumb) %>
          <div class='caption'>
            <h3><%= project.title %> <small>| <%= project.subtitle %></small></h3>
            <p><%= project.description %></p>
            <p><%= link_to 'See more', project_path(project) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
