<% content_for :body_class, 'project' %>

<div class='container project'>
  <div class='header-img' style='background-image: url(<%= asset_path('projects/top.jpg') %>)'>
    <div class='logo'>
      <%= image_tag 'projects/logo.png' %>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-offset-2 col-sm-8'>
      <p><%= @project.description %></p>
      <%= link_to @project.url, @project.url %>
    </div>
  </div>
  <div class='images'>
    <div class='row'>
      <%= image_tag 'projects/mackbook.png', class: 'pull-right' %>
    </div>
    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <%= image_tag 'projects/ss1.jpg' %>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <%= image_tag 'projects/ss2.jpg' %>
      </div>
    </div>
  </div>
  <div class='logo'>
    <%= image_tag 'projects/logo.png' %>
    <span><%= @project.year %></span>
  </div>
</div>
