<% content_for :body_class, 'project' %>

<div class='container project'>
  <div class='header-img' style='background-image: url(<%= asset_path(@project.top_image.image_url) %>)'>
    <div class='logo'>
      <%= image_tag @project.logo_image.image_url %>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-offset-3 col-sm-6'>
      <p><%= @project.description %></p>
      <%= link_to @project.url, @project.url %>
    </div>
  </div>
  <div class='images'>
    <div class='row'>
      <%= image_tag @project.pc_image.image_url, class: 'pull-right' %>
    </div>
    <% @project.page_images.each do |image| %>
      <div class='row'>
        <div class='col-sm-offset-2 col-sm-8'>
          <%= image_tag image.image_url %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='logo'>
    <%= image_tag @project.logo_image.image_url %>
    <span><%= @project.year %></span>
  </div>
</div>
