<div class='section address'>
  <h4><%= t('.contact_with_us') %></h4>
  <address>
    <strong><%= t('.gliwice_office') %></strong><br>
    Akademicka 5<br>
    Gliwice 44-100
  </address>
  <address>
    <strong><%= t('.cieszyn_office') %></strong><br>
    Trzech Braci 3<br>
    Cieszyn 43-400
  </address>
</div>

<!-- <div class='section'>
  <h4>Phone</h4>
  <address>
    +48 293 901 203<br>
    +48 293 901 203
  </address>
</div>

<div class='section'>
  <h4>Email address</h4>
  <address>
    <%#= mail_to 'kontakt@fractalsoft.org' %>
  </address>
</div>
 -->
<div class='section'>
  <h4><%= t('.find_us') %></h4>
  <ul class='list-inline'>
    <li>
      <%= link_to 'https://www.facebook.com/fractalsoft' do %>
        <%= image_tag 'home/facebook_icon.png' %>
      <% end %>
    </li>
    <li>
      <%= link_to 'https://twitter.com/fractal_soft' do %>
        <%= image_tag 'home/twitter_icon.png' %>
      <% end %>
    </li>
  </ul>
</div>
