<div class='section address'>
  <h4><%= t('.contact_with_us') %></h4>
  <address>
    <strong><%= t('.office.gliwice') %></strong><br>
    Akademicka 5<br>
    44-100 Gliwice
  </address>
  <address>
    <strong><%= t('.office.cieszyn') %></strong><br>
    Trzech Braci 3<br>
    43-400 Cieszyn
  </address>
</div>

<div class='section'>
  <h4><%= t('.find_us') %></h4>
  <ul class='list-inline'>
    <li>
      <%= link_to 'https://github.com/fractalsoft', rel: 'nofollow', title: 'Star us' do %>
        <span class='icon icons-github'></span>
      <% end %>
    </li>
    <li>
      <%= link_to 'https://twitter.com/fractal_soft', rel: 'nofollow', title: 'Follow us' do %>
        <span class='icon icons-twitter'></span>
      <% end %>
    </li>
    <li>
      <%= link_to 'https://www.youtube.com/channel/UC-v15KnfdoVbgBlr54-edog', rel: 'nofollow', title: 'Subscribe' do %>
        <span class='icon icons-youtube'></span>
      <% end %>
    </li>
    <li>
      <%= link_to 'https://plus.google.com/106386969948370069442', rel: 'nofollow', title: 'Follow us' do %>
        <span class='icon icons-google'></span>
      <% end %>
    </li>
    <li>
      <%= link_to 'https://www.facebook.com/fractalsoft', rel: 'nofollow', title: 'Like us' do %>
        <span class='icon icons-facebook'></span>
      <% end %>
    </li>
    <li>
      <%= link_to 'https://instagram.com/fractalsoft', rel: 'nofollow', title: 'Follow us' do %>
        <span class='icon icons-instagram'></span>
      <% end %>
    </li>
  </ul>
</div>
