<!DOCTYPE html>
<html>
<head lang='<%= I18n.locale %>'>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <%= display_meta_tags(default_meta_tags) %>
  <meta name='revisit-after' content='1 days' />
  <meta name='robots' content='index,follow' />
  <meta name='robots' content='noarchive' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!-- <base href='http://fractalsoft.org/' /> -->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/shared/analytics' %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
    <%= javascript_include_tag 'respond' %>
  <![endif]-->
  <%= csrf_meta_tags unless @page_caching %>
</head>
<body class='<%= yield(:body_class) %>'>
<%= render 'layouts/shared/header' %>
<%= yield %>
<%= render 'layouts/shared/footer' %>
</body>
</html>
