<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
<head>
  <!--


            +++++     +++++
            +++++     +++++
            +++++     +++++
                 +++++
                 +++++
                 +++++
            +++++
            +++++
            +++++


  We're hiring full-stack developers!
  Do you want to know more?
  Contact us, join the Team :)

  -->
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <%= display_meta_tags(default_meta_tags) %>
  <meta name='revisit-after' content='1 days' />
  <meta name='robots' content='index,follow' />
  <meta name='robots' content='noarchive' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='theme-color' content='#C3261C' />
  <link href='<%= manifest_path %>' rel='manifest' />
  <!-- <base href='https://fractalsoft.org/' /> -->
  <%= favicon_link_tag '/favicon.ico', skip_pipeline: true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', async: Rails.env.production? %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.css' %>
  <%= render 'layouts/shared/analytics' %>
  <%= csrf_meta_tags unless @page_caching %>
  <%= javascript_importmap_tags %>
</head>
<body class='<%= yield(:body_class) %>'>
<%= query_diet_widget if Rails.env.development? && ENV['OPTIMIZATION'] %>
<%= render 'layouts/shared/header' %>
<%= yield %>
<%= render 'layouts/shared/footer' %>
</body>
</html>
