<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <%= display_meta_tags(default_meta_tags) %>
  <meta name='revisit-after' content='1 days' />
  <meta name='robots' content='index,follow' />
  <meta name='robots' content='noarchive' />
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='theme-color' content='#C3261C' />
  <link href='<%= manifest_path %>' rel='manifest' />
  <!-- <base href='https://fractalsoft.org/' /> -->
  <%= favicon_link_tag '/favicon.ico', skip_pipeline: true %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@5.5.19/daisyui.css", crossorigin: "anonymous", referrerpolicy: "no-referrer" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
  <%= yield(:custom_stylesheets) %>
  <%= render 'layouts/shared/analytics' %>
  <%= csrf_meta_tags unless @page_caching %>
  <%= javascript_importmap_tags %>
</head>
<body class='min-h-screen flex flex-col <%= yield(:body_class) %>'>
<%= query_diet_widget if Rails.env.development? && ENV['OPTIMIZATION'] %>
<%= render 'layouts/shared/header' %>
<main class='flex-1'>
  <%= yield %>
</main>
<%= render 'layouts/shared/footer' %>
</body>
</html>
